form{
    color: black;
}

.pirveli_h{
    color: green;
    font-size: 50px;
}

.meore_put{
    font-size: 20px;
}

.mesame_put{
    font-size: 20px;
}

.meotxe_put{
    font-size: 20px;
}

.mexute_put{
    font-size: 20px;
}

.meeqvse_put{
    font-size: 20px;
}

.meshvide_put{
    font-size: 20px;
}

.meshvide_put{
    font-size: 20px;
}

.merve_put{
    font-size: 20px;
}

.mecxre_put{
    font-size: 20px;
}

.meate_put{
    font-size: 20px;
}

.mertmete_bt{
    font-size: 20px;
}









