form{
    color: black;
}

.first_p{
    color: blue;
    font-size: 50px;
}

button{
    color: black;
}

.second_put{
    font-size: 20px
}

.third_put{
    font-size: 20px;
}

.fourth_bt{
    font-size: 20px;
}

.sixth_btt{
    font-size: 20px;
}