.first_h1{
    font-size: 70px;
}
.second_p{
    font-size: 50px;
    background-color: rgb(255, 0, 0);
}

.fourht_p{
    font-size: 50px;

}

.sixth_h1{
    background-color: greenyellow;
}

.seventh_p{
    font-size: 50px;
}

.hundredth_p{
    font-size: 50px;
}

.thirteenth_p{
    font-size: 50px;
}

.fourhteenth_p{
    font-size: 50px;
}

.fifth_butt{
    color: blue;
}

.eigth_butt{
    color: blue;
}

.ninth_butt{
    background-color: cyan;
}

.eleventh_butt{
    color: blue;
}

.fifteen_butt{
    color: blue;
}

.twelth_h1{
    background-color: gold;
}